{% extends "base.html" %}

{% block title %}ToDo{% endblock %}

{% block main %}

<div class="container">

    <div class="row">
        <h1>ToDo</h1>
    </div>
    <hr>


    <form action="{{ url_for('add') }}" method="POST">
        <div class="row">
            <div class="col-6">
                <label for="input todo item">Add a new todo item and hit ENTER:</label>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <input id="input todo item" type="text" class="form-control" placeholder="Write a todo item..."
                    name="todoitem" required>
            </div>
            <div class="col"><button class="btn btn-primary" type="submit" value="Enter" name="Enter"> ENTER </button></div>
        </div>
    </form>


    <hr>

    <h2>Incomplete Items:</h2>

    {% for todo in incomplete %}
    <form action="{{ url_for('update') }}" method="POST">
        <div class="jumbotron">
            <p class="lead">{{todo.text}}</p>
            <hr class="my-4">
            <p>Created: {{todo.created_date.strftime("%d.%m.%Y")}}</p>

            <button class="btn btn-primary" type="submit" value="{{todo.id}}" name="done"> Done </button>
            <!-- <button class="btn btn-primary" type="submit" value="{{todo.id}}" name="update"> Update </button>
        <button class="btn btn-primary" type="submit" value="{{todo.id}}" name="cancel"> Cancel </button> -->
        </div>
    </form>
    {% endfor %}






    <hr>
    <h2>Completed Items:</h2>
    {% for todo in complete %}
    <div class="form-check">
        <input id="checkbox for done items {{todo.id}}" class="form-check-input" type="checkbox" name="checkeddone"
            value="{{todo.id}}" disabled>
        <label for="checkbox for done items {{todo.id}}" class="form-check-label">
            {{todo.text}} <br>
            DONE | {{todo.update_date.strftime("%d.%m.%Y, %H:%M:%S")}}
        </label>
    </div>
    {% endfor %}


</div>

{% endblock %}