{% extends "base.html" %}

{% block title %}ToDo{% endblock %}

{% block main %}

<div class="container">

    <div class="row">
        <h1>ToDo</h1>
    </div>
    <hr>
    <div class="row">

        <form action="{{ url_for('add') }}" method="POST">
            <div class="form-group">
                <label>Add a new todo item and hit ENTER:</label>
                <input type="text" class="form-control" placeholder="Write a todo item..." name="todoitem">
            </div>
        </form>

    </div>
    <hr>

    <h2>Incomplete Items:</h2>
    <form action="{{ url_for('update') }}" method="POST">
        {% for todo in incomplete %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="checked" value="{{todo.id}}">
            <label class="form-check-label">
                {{todo.text}}<br>
                {{todo.created_date.strftime("%d.%m.%Y")}}
            </label>
        </div>
        {% endfor %}
        {% if exist %}
        
        <button type="submit" class="btn btn-primary">Update</button>
        {% endif %}


    </form>

    <hr>
    <h2>Completed Items:</h2>
    {% for todo in complete %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="checkeddone" value="{{todo.id}}" disabled>
        <label class="form-check-label">
            {{todo.text}} <br>
            DONE | {{todo.update_date.strftime("%d.%m.%Y, %H:%M:%S")}}	
        </label>
    </div>
    {% endfor %}


</div>

{% endblock %}