{% extends "base.html" %}

{% block title %}ToDo{% endblock %}

{% block main %}

<div class="container">

    <div class="row">
        <div class="col-12">
            <h1>ToDo</h1>
        </div>
    </div>
    <hr>


    <form action="{{ url_for('add') }}" method="POST">
        <div class="row">
            <div class="col-12">
                <label for="input todo item">Add a new todo item and hit ENTER:</label>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <textarea id="input todo item" type="text" class="form-control" placeholder="Write a todo item..."
                    name="todoitem" rows="2" required> </textarea>
            </div>
            <div class="col"><button class="btn btn-primary" type="submit" value="Enter" name="Enter"> ENTER </button>
            </div>
        </div>
    </form>


    <hr>

    <h2>Incomplete Items:</h2>

    {% for todo in incomplete %}
    <form action="{{ url_for('update') }}" method="POST">
        <div class="jumbotron">
            <p class="lead">{{todo.text}}</p>
            <hr class="my-4">
            <p>Created: {{todo.created_date.strftime("%d.%m.%Y")}}</p>

            <button class="btn btn-primary" type="submit" value="{{todo.id}}" name="done"> Done </button>
            <!-- <button class="btn btn-primary" type="submit" value="{{todo.id}}" name="update"> Update </button>
        <button class="btn btn-primary" type="submit" value="{{todo.id}}" name="cancel"> Cancel </button> -->
        </div>
    </form>
    {% endfor %}

    <hr>
    <div class="btn-group dropup">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Completed Items ({{count_complete}})
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for todo in complete %}
            <button class="dropdown-item" type="button" disabled>DONE (
                {{todo.update_date.strftime("%d.%m.%Y, %H:%M:%S")}}) | {{todo.text}}
            </button>
            {% endfor %}

        </div>
    </div>



</div>

{% endblock %}